<div class="container">
    <div class="row">
        <div class="col col-2"> </div>
        <div class="col col-8">
            <div class="card">
                <div class="card-header">
                    <div class="card-title mt-2">GELATOS</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <!-- add new button -->
                        <button class="btn btn-sm mb-2 mr-1" routerLink='gelato/add'>+</button>
                        <!-- grid list items -->
                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr *ngFor="let gelato of gelatos" routerLink="gelato/{{gelato.id}}">   
                                    <td>{{gelato.name}}</td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>