.navbar {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

.dropdown-menu, .dropdown-item {
    background-color: black;
    color: lightgray;
}

.dropdown {
    cursor: pointer;
}
