<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="card-title">Casquinha do Dia</div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col col-6">
                    <div class="form">
                        <div class="mb-2">
                            <label>Pesando a casquinha do dia para</label>
                            <select class="form-control">
                                <option>Alfa</option>
                                <option>Beta</option>
                                <option>Gama</option>
                            </select>
                        </div>
                        <div class="mb-2">

                            <label class="">Indique o sabor escolhido</label>
                            <select class="form-control">
                                <option>Fragola</option>
                                <option>Vaniglia</option>
                                <option>Cioccolato</option>
                            </select>
                        </div>
                        <div class="mb-2">
                            <label>Posicione a casquinha na balança e clique no botão abaixo para registrar</label>
                            <diarioapp-bilancia></diarioapp-bilancia>
                            <div>
                                <button type="button" class="btn btn-sm form-control">Registrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>