<diarioapp-navbar></diarioapp-navbar>
<router-outlet></router-outlet>

<!-- <html>
<head></head>
<body>
    <header></header>
    <section>
        <h1></h1>
        <div>
            <span></span>
        </div>
        <div></div>
    </section>
    <footer></footer>
</body>
</html> -->

<!-- html

<div> (block organization and styling)
The <div> tag is used to group block-elements to format them with CSS.

<spam> é uma div para uma linha (in-line instead of block)

<section> é uma div que indica que o conteúdo é do mesmo tema

header
footer

use <header> <footer> <nav> and <main>
use <figure> and <figcaption> for images

avoid <b> <i>
use <strong> <em>

don't use block elements on inline elements <spam> <em> <a>
block-level element cannot be nested inside an inline element.
 -->
